<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test | Home</title>
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <span class="header-ribbon">

    <div class="container-fluid">
      <div class="row" style="margin-left: 700px">
          <div class="col-md-4 col-md-offset-4 col-centered">
              <div class="login-panel">
                  <h4 class="login-panel-title" style="margin-left: 120px"><h1 align="center">Тест</h1></h4>
                  <p class="login-panel-tagline"><h2 >Войдите в аккаунт или зарегистрируйтесь</h2></p>
                  <div class="login-panel-section">
                    <button style="height:100px;width:200px;font-size:0.9vw" type="submit" class="login-panel-section"><a href="/login" >Войти</a></button>
                    <button style="height:100px;width:200px;font-size:0.9vw" type="submit" class="login-panel-section"><a href="/register" >Зарегистрироваться</a></button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </body>
  </html>
 